<!doctype html>
<html>
<head>
    <title>SunDataSys</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>🛰️ Saules radioastronomisko novērojumu datu pārvaldības sistēma</h1>

    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".fits, .fit, .fts">
        <input type="submit" value="Augšupielādēt">
    </form>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class="flashes">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <h2>Faili</h2>
<table border="1" cellpadding="5">
    <tr>
        <th>Faila nosaukums</th>
        <th>Novērojuma datums un laiks</th>
        <th>Teleskops</th>
        <th>Opcijas</th>
    </tr>
    {% for file in files %}
    <tr>
        <td>{{ file.name }}</td>
        <td>{{ file.date_obs }}</td>
        <td>{{ file.telescope }}</td>
        <td>
            <a href="{{ url_for('view_file', filename=file.name) }}">Skatīt</a> |
            <a href="{{ url_for('download_file', filename=file.name) }}">Saglabāt</a>
        </td>
    </tr>
    {% endfor %}
</table>
    <h2>Par sistēmu</h2>
    <p>Šī ir vienkārša sistēma, kas ļauj augšupielādēt, skatīt un pārvaldīt Saules radioastronomisko novērojumu datus.</p>
    <p>Izstrādāts priekš bakalaura darba</p>
    <p>Sistēma attēlu apskatei izmanto SAOImageDS9, ko izstrādā Smitsona Astrofizikas observatorija</p>
    <a href="https://sites.google.com/cfa.harvard.edu/saoimageds9/home?authuser=0" target="_blank">SAOImageDS9 mājas lapa</a>

    <footer>
        <p>Pēteris Genrihs, 2025</p>
    </footer>
</body>
</html>
